{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar_main.html' %}
{% endblock %}

{% block content %}
<!-- Breadcrumbs-->
<section class="breadcrumbs-custom bg-image"
         style="background-image: url({% static 'images/breadcrumbs-image.jpg' %});">
    <div class="shell">
        <h1 class="breadcrumbs-custom__title">Contact Me</h1>
        <ul class="breadcrumbs-custom__path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Contact Me</li>
        </ul>
    </div>
</section>


{% endblock %}


</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>