{% extends "base.html" %}
{% load static %}
{% load cloudinary %}  

{% block navbar %}
<ul class="rd-navbar-nav">
    
    <li><a href="{% url 'main:index' %}">Main</a>
    </li>
    {% if not user.is_authenticated %}   
    <li><a href="{% url 'users:login' %}">Login</a>
    </li>
    <li><a href="{% url 'users:registration' %}">Registration</a>
    </li>
    {%else%}
    <li class="active"><a href="{% url 'main:portfolio_detail' portfolio.id %}">Portfolio</a>
    </li>
    <li><a href="{% url 'users:profile' %}">Profile</a>
    </li>
    <li><a href="{% url 'users:logout' %}">Logout</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<!-- My Best Photos-->
{% comment %}
<section class="section bg-white text-center">
    <!-- Slick Carousel-->
    <div class="slick-wrap">
        <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="false" data-loop="true"
             data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1"
             data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true"
             data-lightgallery="group-slick">
            <!-- --------------------------- begin block photo ------------------------------- -->
            <div class="item">
                <div class="slick-slide-inner">
                    <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                                        href="{% static 'images/group-image-4-1200x800-original.jpg' %}"
                                                        data-lightgallery="item"><img class="thumb-ann__image"
                                                                                      src="{% static 'images/home1-1-961x664.jpg' %}"
                                                                                      alt="" width="961" height="664"/>
                        <div class="thumb-ann__caption">
                            <p class="thumb-ann__title heading-3">Philip &amp; Gloria</p>
                            <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you
                                a wide variety of love story photography services at affordable prices.</p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slick-slide-inner">
                    <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                                        href="{% static 'images/group-image-3-1200x800-original.jpg' %}"
                                                        data-lightgallery="item"><img class="thumb-ann__image"
                                                                                      src="{% static 'images/home1-2-961x664.jpg' %}"
                                                                                      alt="" width="961" height="664"/>
                        <div class="thumb-ann__caption">
                            <p class="thumb-ann__title heading-3">Ronald &amp; Karen</p>
                            <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you
                                a wide variety of love story photography services at affordable prices.</p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slick-slide-inner">
                    <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                                        href="{% static 'images/home1-4-1200x695-original.jpg' %}"
                                                        data-lightgallery="item"><img class="thumb-ann__image"
                                                                                      src="{% static 'images/home1-3-961x664.jpg' %}"
                                                                                      alt="" width="961" height="664"/>
                        <div class="thumb-ann__caption">
                            <p class="thumb-ann__title heading-3">Eric &amp; Amanda</p>
                            <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you
                                a wide variety of love story photography services at affordable prices.</p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slick-slide-inner">
                    <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                                        href="{%static 'images/group-image-2-1200x800-original.jpg' %}"
                                                        data-lightgallery="item"><img class="thumb-ann__image"
                                                                                      src="{% static 'images/home1-4-961x664.jpg' %}"
                                                                                      alt="" width="961" height="664"/>
                        <div class="thumb-ann__caption">
                            <p class="thumb-ann__title heading-3">Harold &amp; Mary</p>
                            <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you
                                a wide variety of love story photography services at affordable prices.</p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<section class="section section-md bg-white text-center">
    <div class="shell-fluid">
        <p class="heading-1">{{ portfolio.title }}</p>
        <div class="isotope thumb-ruby-wrap wow fadeIn" data-isotope-layout="masonry" data-isotope-group="gallery"
             data-lightgallery="group">
            <div class="row">
                {% comment %} {% for item in portfolio_items %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
                        <a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{{ item.image.url }}" data-lightgallery="item">
                            <img class="thumb-ruby__image" src="{{ item.image.url }}" alt="{{ item.title }}" width="440" height="327"/>
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">{{ item.title }}</p>
                                <p class="thumb-ruby__text">{{ item.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %} {% endcomment %}
                {% for photo in portfolio.photos.all %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
                        <a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{{ photo.image_url }}" data-lightgallery="item">
                            <img class="thumb-ruby__image" src="{{ photo.image_url}}" alt="{{ photo.title }}" width="440" height="327"/>
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">{{ photo.title }}</p>
                                <p class="thumb-ruby__text">{{ photo.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                                
            </div>
        </div>
    </div>
</section>

{% endblock %}

</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- coded by starlight-->
</body>
</html>