{% extends "base.html" %}

{% block navbar %}
    {% include 'includes/navbar_main.html' %}
{% endblock %}

{% block content %}
<section class="section section-md bg-white">
    <div class="rd-navbar-nav-wrap">
        <div class="row align-items-start">

            <aside class="col-md-3 mb-4">
                 {% include 'includes/cabinet_menu.html' %}
            </aside>

            <main class="col-md-9">
                {% block cabinet_content %}
                {% endblock %}
            </main>

        </div>
    </div>
</section>
{% endblock %}