{% extends "users/cabinet.html" %}
{% load static i18n %}

{% block cabinet_content %}
<div class="profile-card mx-auto" style="max-width: 700px;">
<div class="bg-white p-4 mb-4 rounded custom-shadow">
    <h1 class="mb-4 text-center">
        {% trans 'Information about the user' %}
    </h1>

    <div class="card">
        <div class="card-body text-center">

            <h4 class="card-title">
                {{ user.first_name }} {{ user.last_name }}
            </h4>

            <p class="card-text text-centre">
                <strong>{% trans 'User name:' %}</strong> {{ user.username }} <br>
                <strong>{% trans 'Email:' %}</strong> {{ user.email }} <br>

                {% if user.phone %}
                    <strong>{% trans 'Phone:' %}</strong> {{ user.phone }} <br>
                {% else %}
                    <strong>{% trans 'Phone:' %}</strong> {% trans 'Missing' %} <br>
                {% endif %}

                {% if user.address %}
                    <strong>{% trans 'Address:' %}</strong> {{ user.address }} <br>
                {% else %}
                    <strong>{% trans 'Address:' %}</strong> {% trans 'Missing' %} <br>
                {% endif %}

                <strong>{% trans 'Date of joining:' %}</strong>
                {{ user.date_joined|date:"d M Y" }}
            </p>

            <div class="mt-4">
                {% if user.avatar %}
                    <img src="{{ user.avatar }}"
                         alt="{% trans 'User avatar' %}"
                         class="avatar">
                {% else %}
                    <img src="{% static 'images/Not found image.png' %}"
                         alt="{% trans 'Default avatar' %}"
                         class="avatar">
                {% endif %}
            </div>

        </div>
    </div>

    <div class="mt-4 d-flex flex-wrap justify-content-center gap-3">
        <a href="{% url 'users:edit_profile' %}" class="btn btn-outline-primary px-4 text-nowrap">
            {% trans '🔧 Edit profile' %}
        </a>

        <a href="{% url 'users:change_password' %}" class="btn btn-outline-primary px-4 text-nowrap">
            {% trans '🔒 Change password' %}
        </a>

        <a href="{% url 'main:index' %}" class="btn btn-outline-secondary px-4 text-nowrap">
            {% trans 'Back' %}
        </a>
    </div>
</div>
</div>
{% endblock %}