/* body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
} */

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 9999px;
    margin: 0 auto;
    border: 4px solid #93c5fd;
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
    transition: transform .3s;
}

.avatar:hover {
    transform: scale(1.05);
}

/* =========================
   CABINET MENU
   ========================= */

.cabinet-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.cabinet-nav > li {
    margin-bottom: 12px;
    text-align: left;
}

.cabinet-nav > li > a {
    position: relative;
    display: block;
    width: 100%;

    padding: 10px 16px;

    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .08em;


    color: #151515;
    text-decoration: none;

    transition: all .3s ease;
}

/* Активний пункт */

.cabinet-nav > li.active > a {
    color: #ffffff !important;
    background-color: #00bd9d;

    font-weight: 600;
}

/* Наведення */

.cabinet-nav > li > a:hover {
    color: #ffffff !important;
    background-color: #00bd9d;

}




/* =========================
   MOBILE
   ========================= */

@media (max-width: 768px) {

    .cabinet-nav > li {
        margin-bottom: 8px;
    }

    .cabinet-nav > li > a {
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 767px) {
    .user-avatar-brand {
        display: none !important;
    }
}

.review-link {
    position: relative;
    display: block;
}

.review-link::after {
    content: attr(data-tooltip);

    position: absolute;
    bottom: 100%;
    left: 50%;

    transform: translateX(-50%);

    background: rgba(21, 21, 21, 0.95);
    color: white;

    padding: 8px 12px;
    border-radius: 6px;

    font-size: 14px;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;

    transition: all .25s ease;

    z-index: 1000;
}

.review-link:hover::after {
    opacity: 1;
    visibility: visible;
}