{% extends 'base.html' %}

{% load static %}

{% block navbar %}
<ul class="rd-navbar-nav">
    {% if not user.is_authenticated %}
    
    <li><a href="{% url 'users:login' %}">Login</a>
    </li>
    <li><a href="{% url 'users:registration' %}">Registration</a>
    </li>
    {% else %}
    <li><a href="{% url 'blog:blog_detail' slug=blog.slug %}">Blog</a>
    </li>
    <li class="active"><a href="{% url 'blog:post_create' slug=blog.slug %}">New post</a>
    </li>
    <li><a href="{% url 'users:profile' %}">Profile</a></li>
    {% if user.is_admin or user.is_staff %}
    <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
    {% endif %}
    <li><a href="{% url 'users:logout' %}">Logout</a></li>
    {% endif %}
</ul>
{% endblock %}


{% block content %}

<!-- Форма для створення нового поста -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <h2 class="text-center mb-4">Create a New Post</h2>
        <div class="col-md-8 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 mb-3 text-center">
                        <label for="id_title">Title</label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.title.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-10 text-center">
                        <label for="id_title">Content</label>
                        {{ form.content }}
                        {% if form.content.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.content.errors }}</div>
                        {% endif %}
                    </div>
                                                 
                    <!-- Поле для завантаження фото окремо, не з форми -->
                    <div class="col-md-12 mb-10 text-center">
                        <label for="id_photo">Image (optional)</label>
                        <input type="file" name="photo" id="id_photo" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Create Post</button>
                </div>    
            </form>
        </div>
    </div>
</div>
{% endblock %}
