<ul class="rd-navbar-nav">
    <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <a href="{% url 'main:index' %}">Main</a>
    </li>
    
    {% if not user.is_authenticated %}
        <li class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">
            <a href="{% url 'users:login' %}">Login</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'registration' %}active{% endif %}">
            <a href="{% url 'users:registration' %}">Registration</a>
        </li>
    {% else %}
        <li class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
            <a href="{% url 'users:profile' %}">My Profile</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'my_photos' %}active{% endif %}">
            <a href="{% url 'photo_app:my_photos' %}">My photos</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'handle_my_photos' %}active{% endif %}">
            <a href="{% url 'photo_app:handle_my_photos' %}">Handle Photos</a>
        </li>
        {% if user.is_admin or user.is_staff %}
            <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                <a href="{% url 'admin:index' %}">Admin panel</a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'users:logout' %}">Logout</a>
        </li>
    {% endif %}
</ul>
