{% load static %}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="{%static 'image/x-icon' %}">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,400italic%7CJosefin+Sans:400,700,300italic">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/my_css.css" %}">
	{% comment %} <!--[if lt IE 10]-->
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
	<!--[endif]--> {% endcomment %}
  </head>
  <body>
    <!-- Page Loader-->
    <div id="page-loader">
      <div class="page-loader-body">
        <div class="cssload-spinner">
          <div class="cssload-cube cssload-cube0"></div>
          <div class="cssload-cube cssload-cube1"></div>
          <div class="cssload-cube cssload-cube2"></div>
          <div class="cssload-cube cssload-cube3"></div>
          <div class="cssload-cube cssload-cube4"></div>
          <div class="cssload-cube cssload-cube5"></div>
          <div class="cssload-cube cssload-cube6"></div>
          <div class="cssload-cube cssload-cube7"></div>
          <div class="cssload-cube cssload-cube8"></div>
          <div class="cssload-cube cssload-cube9"></div>
          <div class="cssload-cube cssload-cube10"></div>
          <div class="cssload-cube cssload-cube11"></div>
          <div class="cssload-cube cssload-cube12"></div>
          <div class="cssload-cube cssload-cube13"></div>
          <div class="cssload-cube cssload-cube14"></div>
          <div class="cssload-cube cssload-cube15"></div>
        </div>
      </div>
    </div>
    <!-- Page--> 
    <div class="page">
        <a class="section section-banner"  style="background-image: url({%static 'images/background-02-1920x60_mono.png' %}); background-image: -webkit-image-set( url({% static 'images/background-02-1920x60_mono.png' %}) 1x, url({% static 'images/background-02-3840x120_mono.png' %}) 2x )">
            <img src="{% static 'images/foreground-02-1600x60.png' %}" srcset="{% static 'images/foreground-02-1600x60.png' %} 1x, {% static 'images/foreground-02-3200x120.png' %} 2x" alt="" width="1600" height="310">
        </a>
      <!-- Page header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="5px" data-lg-stick-up-offset="5px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                {% comment %} {% if user.is_authenticated %}
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <a class="brand" href="{% url 'users:profile' %}">
                                <div class="brand__name">
                                    {% if user.image %}
                                        <img class="rounded-circle" src="{{ user.image.url }}" alt="User avatar" style="width: 100px; height: 100px;">
                                    {% else %}
                                        <img class="rounded-circle" src="{% static 'images/Not found image.png' %}" alt="Default avatar" style="width: 100px; height: 100px;">
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                {% else %} {% endcomment %}
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <a class="brand" href="{% url "main:index" %}">
                                <div class="brand__name">
                                    <img class="brand__logo-dark" src="{% static 'images/Untitled.png' %}" />
                                    <img class="brand__logo-light" src="{% static 'images/Untitled.png' %}" />
                                </div>
                            </a>
                        </div>
                    </div>
                {% comment %} {% endif %} {% endcomment %}
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-element">
                    <ul class="list-icons">
                      <li><a class="icon icon-sm fa fa-instagram icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
                      <li><a class="icon icon-sm fa fa-facebook icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
                      <li><a class="icon icon-sm fa fa-pinterest icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
                    </ul>
                  </div>
                  {% comment %} <div class="rd-navbar-element">
                  <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                            <option value="{{ lang_code }}"{% if lang_code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit">{% trans "Change language" %}</button>
                  </form>
                  </div> {% endcomment %}
                  <!-- RD Navbar Nav-->
                  {% block navbar %}
                  {% endblock %}
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      {% include "includes/notifications.html" %}
      {% block content %}
      {% endblock  %}

      <!-- Page Footer--><a class="section section-banner"  style="background-image: url({%static 'images/background-02-1920x60.jpg' %}); background-image: -webkit-image-set( url({% static 'images/background-02-1920x60.jpg' %}) 1x, url({% static 'images/background-02-3840x120.jpg' %}) 2x )">
        <img src="{% static 'images/foreground-02-1600x60.png' %}" srcset="{% static 'images/foreground-02-1600x60.png' %} 1x, {% static 'images/foreground-02-3200x120.png' %} 2x" alt="" width="1600" height="310">
      </a>
  <footer class="footer-centered section bg-gray-darker">
    <div class="shell">
      <div class="range range-sm-center">
        <div class="cell-sm-10 cell-md-8 cell-lg-6">
          <!-- Brand-->
           {% comment %} <a class="brand" href="index.html">
            <div class="brand__name"><img src="{% static 'images/logo-inverse-243x57.png' %}" alt="" width="243" height="57"/>
            </div>
          </a> {% endcomment %}
                <!-- RD Mailform-->
                <form class="rd-mailform form_inline" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="{% static 'bat/rd-mailform.php' %}">
                  <div class="form__inner">
                    <div class="form-wrap">
                      <input class="form-input" id="subscribe-form-footer-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="subscribe-form-footer-email">Your E-mail...</label>
                    </div>
                    <div class="form-button">
                      <button class="button button-link" type="submit">Subscribe</button>
                    </div>
                  </div>
                </form>
          <ul class="list-icons list-inline-sm">
            <li><a class="icon icon-sm fa fa-instagram icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
            <li><a class="icon icon-sm fa fa-facebook icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
            <li><a class="icon icon-sm fa fa-pinterest icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
          </ul>
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p>
        </div>
      </div>
    </div>
  </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% comment %} <script src="{% static "js/jquery/jquery-3.7.0.min.js" %}"></script> {% endcomment %}
    <script src="{% static "js/jquery-events.js" %}"></script>
    <script src="{% static "js/jquery-ajax.js" %}"></script>
    <script src="{% static "js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    <!-- coded by starlight-->
  </body>
</html>